@import 'variables';
@import 'mixin';
body{
  background-color: $body;
}

.container{
  color: $text-color;
  width: 90%;
  margin: 0 auto;
}


.section-coments{
  margin: 0 auto;  
  &__title{
    text-align: center;
    margin: 0;
  }
//  @include input-textarea($body,$text-color);

  .list-comments{
    width: 85%;
    margin: 0 auto;
    .card-comment{
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      width: 100%;
      &__comment{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        width: 100%;
        .user{
          font-size: 1.5rem;
          margin: 0;
          font-weight: bold;
        }      
        .textarea{
          @include input-textarea($body,$text-color);
          margin: 0;
          padding: 0;
          font-size: 1.5rem;
          margin-left: 5px;
          width: auto;
        }
      }
      &__btns{
        display: flex;
        flex-direction: row;
        .date{
          width: 80%;
          font-size: 0.7rem;
        }
        .update-comment{
          width: 6%;
          @include btn-icon($body,$text-color);  
          margin-left: 10px;
          color: red;
        }
        .delete-comment{
          width: 6%;
          @include btn-icon($body,$text-color);  
        }
      }
    } 
  } 
}
.form {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 30px;
  border-top: solid $text-color 1px;
  border-bottom: solid $text-color 1px;
  &__title{
    text-align: center;
  }
  .form__input{
    width: 100%;
    @include input-textarea($body,$text-color);
  }
  .form-coment{    
    display: flex;
    flex-direction: row;
    &__textarea {
      height: 30px;
      @include input-textarea($body,$text-color);
      background-color: $body;
      width: 80%
    }
    
    &__submit {
      @include btn($body,$text-color);  
      &:hover {
        background-color: darken($body, 9);
        color: $text-color;
        border: none;
      }
    }
  }
}
.oppose{
  opacity: 0.5;
  pointer-events: none;
}

@media (min-width: 640px){
  .container{
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
  }
}